{{extend 'layout.html'}}
<div class="page-header text-center">
  <h1>Cursos</h1>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Instrutor</th>
        <th>Curso</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Sala</th>
        <th>Vaga</th>
        <th>Descrição</th>
        <th>Status</th>
    </tr>
    </thead>
    <tbody>
    {{for curso in cursos:}}
    <tr>
        <td>{{='{0} {1}'.format(curso.auth_user.first_name, curso.auth_user.last_name)}}</td>
        <td>{{=curso.curso.titulo}}</td>
        <td>{{=curso.curso.data_ini.strftime('%d/%m/%y %H:%M')}}</td>
        <td>{{=curso.curso.data_fim.strftime('%d/%m/%y %H:%M')}}</td>
        <td>{{=curso.curso.sala}}</td>
        <td>{{=curso.curso.vaga}}</td>
        <td>{{=curso.curso.descricao}}</td>
      <td>
        {{if curso.curso.id not in lista_ig:}}
        <a onclick="$(this).attr('disabled', true);" {{='disabled' if curso.curso.vaga < 1 else ''}} class="btn btn-info" href="{{=URL('default', 'participa', args=[curso.curso.id, auth.user_id, curso.curso.vaga])}}">Participar</a>
        {{elif db((db.ownership.curso == curso.curso.id) & (db.ownership.users == auth.user_id)).select().first() is None:}}

        {{elif db((db.ownership.curso == curso.curso.id) & (db.ownership.users == auth.user_id)).select().first().status == 1:}}
          Aguardando aprovação
        {{elif db((db.ownership.curso == curso.curso.id) & (db.ownership.users == auth.user_id)).select().first().status == 2:}}
          Inscrito
        {{pass}}
      </td>
    </tr>
    {{pass}}
    </tbody>
</table>
