{{extend 'layout.html'}}
<div class="page-header text-center">
    {{if cursos:}}
    <h1>Chamada do dia {{=dia}}</h1>
    {{else:}}
    <h1>Não há chamada para hoje</h1>
    {{pass}}
</div>
{{if cursos:}}
<div class="text-center" style="margin: 10px;">
    <select class="form-control" id="curso" style="max-width: 250px;margin: auto;">
        <option value="0">Selecione o curso</option>
    {{for c in cursos:}}
        <option value="{{=c.id}}">{{=c.titulo}}</option>
    {{pass}}
    </select>
</div>
<div id="presenca"></div>
<script>
    $(document).ready(function () {
        $("#curso").change(function () {
            $.ajax({
                url: '{{=URL('default', 'get_aluno')}}/' + $(this).val(),
                data: {},
                success: function (dado) {
                    $("#presenca").html(dado);
                },
                error: function (erro) {
                    alert(erro);
                }
            })
        })
    });
    function salva_aluno(){
        var chamadas = [];
        $.each($(".aluno_chamada input[type=checkbox]:checked"), function(k,v){
            chamadas.push($(v).val());
        });
        chamadas = chamadas.join(',');
        var num = $(".aluno_chamada input[type=checkbox]").length;
        var curso = $("#curso").val();
        $.ajax({
            url: '{{=URL('default', 'salva')}}/' + num + '/' + curso + '?alunos=' + chamadas,
            data: {},
            success: function(dado){
                location.href = dado;
            },
            error: function(erro){
                alert(erro);
            }
        })
    }
</script>
{{pass}}