{{extend 'layout.html'}}
{{if auth.is_logged_in() and (auth.has_membership('administrador') or auth.has_membership('instrutor')):}}
{{else:}}
<div class="page-header text-center">
  <h1>Cursos Disponíveis</h1>
</div>
<div class="text-center" style="margin: 10px;">
    <a class="btn btn-primary" {{='' if len(cursos) else 'disabled'}} href="{{=URL('default', 'cad_curso')}}">Participe</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Instrutor</th>
        <th>Curso</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Sala</th>
        <th>Vaga</th>
        <th>Descrição</th>
    </tr>
    </thead>
    <tbody>
    {{for curso in cursos:}}
    <tr>
        <td>{{='{0} {1}'.format(curso.auth_user.first_name, curso.auth_user.last_name)}}</td>
        <td>{{=curso.curso.titulo}}</td>
        <td>{{=curso.curso.data_ini.strftime('%d/%m/%y %H:%M')}}</td>
        <td>{{=curso.curso.data_fim.strftime('%d/%m/%y %H:%M')}}</td>
        <td>{{=curso.curso.sala}}</td>
        <td>{{=curso.curso.vaga}}</td>
        <td>{{=curso.curso.descricao}}</td>
    </tr>
    {{pass}}
    </tbody>
</table>

{{pass}}